<div class="navbar sticky-nav">
  <!-- Logo -->
  <a href="/" class="navbar-brand">
    <!-- <img src="images/logo.png" alt="logo"> -->
  </a>

  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">
    <%= link_to "Home", root_path, class: "navbar-item navbar-link" %>
    <%= link_to "About", about_path, class: "navbar-item navbar-link" %>
    <%= link_to "Projects", projects_path, class: "navbar-item navbar-link" %>
    <%= link_to "Blog", blog_path, class: "navbar-item navbar-link" %>
    <%= link_to "Contact", contact_path, class: "navbar-item navbar-link" %>
  </div>
</div>


